.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #1C1D21;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: -2;
	background-image: radial-gradient(circle at .05rem .05rem, rgba(226, 226, 226, 0.856) .05rem, transparent 0);
	background-size: 30px 30px;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
}
